* {
    box-sizing: border-box;
    background-color: oklch(85.17% 0.0074 23.3);
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#searchForm {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
}

#searchForm * {
    margin-left: 5px;
    margin-right: 5px;
}

#playerData {
    display: none;
    flex-direction: column;
    justify-content: center;
}

#playerInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#playerHeroes {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#playerProfile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#playerW {
    color: green;
    font-weight: bold;
}

#playerL {
    color: red;
    font-weight: bold;
}